.border-shadow{
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

}


.row-height{
  min-height: 10rem;

}

.spinner_pos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.status-success {
  //background-color: #88d4ab; /* light green */
  //color: #155724; /* dark green text */
  background-color: #88b8d4; /* light blue */
  color: #0f3d5c;            /* dark blue text */
}

.status-timeout {
  background-color: #ffd580; /* light orange */
  color: #856404; /* dark orange text */
}

.status-error {
  background-color: #f8d7da; /* light red */
  color: #721c24; /* dark red text */
}

