<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h1 class="page-title">
          Status
        </h1>
      </div>
    </div>
  </div>
</div>
<div class="page-body mt-3">
  <div class="container">
    <h3>Ships list</h3>
    <div class="spinner_pos">
      <ng-container  *ngIf="viewModel$ | async as vm">
          <ng-container *ngIf="vm.loading; else showShips">
              <app-spinner></app-spinner>
          </ng-container>



      <ng-template  #showShips>
        <ng-container *ngIf="vm.ships.length > 0; else noShips">
            <div class="row row-deck row-cards" style="min-height: 10rem">
               <div class="col-3" *ngFor="let ship of vm.ships; trackBy: utility.getId">
                  <div class="card" [ngClass]="utility.getStatusClass(ship.result)">
                    <div class="card-body">
                        <h2 class="card-title">{{'Name:   ' + ship.name}}</h2>
                        <p class="card-text">{{'Status:   ' + ship.result}}</p>
                        <p class="card-text">{{'Host addr:   ' + ship.hostAddr}}</p>
                    </div>
                  </div>
                </div>
              </div>
        </ng-container>
      </ng-template>
      </ng-container>


      <ng-template #noShips>
        <h2>No ships available</h2>
      </ng-template>


    </div>
  </div>
</div>


