<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h1 class="page-title">
          Status
        </h1>
      </div>
    </div>
  </div>
</div>
<div class="page-body mt-3">
  <div class="container">
    <h3>List</h3>
    <div class="spinner_pos">

      <ng-container  *ngIf="viewModel$ | async as vm">
          <ng-container *ngIf="vm.loading; else showShips">
              <app-spinner-2></app-spinner-2>
          </ng-container>



      <ng-template  #showShips>
        <ng-container *ngIf="vm.ships.length > 0; else noShips">
            <div class="row row-deck row-cards row-height">
              <div class="col-3"  *ngFor="let a_Ship of vm.ships; trackBy: utility.trackByShipResultId">
                <div class="card" [ngClass]="utility.getStatusClass(a_Ship.result)">
                  <div class="card-body border-shadow">
                    <h2 class="card-title">{{'Name:   ' + a_Ship.name}}</h2>
                    <p class="card-text">{{'Status:   ' + a_Ship.result}}</p>
                    <p class="card-text">{{'Host addr:   ' + a_Ship.hostAddr}}</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
      </ng-template>


     </ng-container>


      <ng-template #noShips>
        <h2>No ships available</h2>
      </ng-template>


    </div>
  </div>
</div>


