<div class="modal-header">
  <h5 class="modal-title">Manage users</h5>

  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss()">
  </button>
</div>

<div class="modal-body">

  <div class="mb-4">
    <button
      type="button"
      class="btn btn-primary"
      (click)="addNewUser()">
      Add new user
    </button>
  </div>

  <hr>

  <h4>Existing users</h4>

  @for (user of users; track user.userName) {
    <div class="d-flex justify-content-between align-items-center py-2 border-bottom">
      <div>
        <strong>{{ user.userName }}</strong>
        <div class="text-secondary">
          {{ user.email }}
        </div>
      </div>
    </div>
  }

</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn"
    (click)="activeModal.close()">
    Close
  </button>
</div>
