.page-body{
  display: flex;
  flex-direction: row;
}

.page-header{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
}


.pagination{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;

}
