<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">
          Admin
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="page-body mt-3">
  <div class="container">
    <app-manageShip></app-manageShip>
    </div>
      <div class="col-10">
        <div class="card">
          <div class="container">
            <div class="card-body" style="min-height: 10rem">
              <app-showAllShips ></app-showAllShips>
            </div>
          </div>
        </div>
    </div>
 </div>

