<ng-container *ngIf="paginationModel$ | async as pm">


  <div class="pagination-area" style="margin-top: 1rem;">
    <ul class="pagination justify-content-center" *ngIf="pm.totalPages > 1">
      <li class="page-item" [class.disabled]="pm.page === 1">
        <button class="page-link page-text"
                (click)="onPageChange(pm.page - 1)"
                [disabled]="pm.page === 1">
          Previous
        </button>
      </li>

      <li class="page-item"
          *ngFor="let page of (paginationArray$ | async); trackBy: utility.trackByPage"
          [class.active]="page === pm.page">
        <button class="page-link"
                (click)="onPageChange(page)">
          {{ page }}
        </button>
      </li>

      <li class="page-item"
          [class.disabled]="pm.page === pm.totalPages">
        <button class="page-link page-text"
                (click)="onPageChange(pm.page + 1)">
        Next
        </button>
      </li>
    </ul>
  </div>


</ng-container>
