
     <h2> Ship Database</h2>
       <div *ngIf="(ships$ | async) as ships; else noShips">
         <div *ngIf="ships.length > 0;">
          <div class="row row-deck row-cards" style="min-height: 10rem">
           <div class="col-4" *ngFor="let aShip of ships$ | async; let i = index">
            <div class="card" >
              <div class="card-body" (mouseenter) = "onMouseOver(i)" (mouseleave)="onMouseOff()">
                <h2 class="card-title">{{'Ship title:   ' + aShip.name}}</h2>
                <span *ngIf = "i == hoverIndex">
                    <button class="btn btn-md btn-outline-primary" type="button" (click)="buttonService.select('Edit', aShip)">Edit</button>
                    <button class="btn btn-md btn-outline-primary" type="button" (click)="buttonService.select('Delete', aShip)">Delete</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
      <ng-template #noShips>
       <p>No ships displayed</p>
     </ng-template>
