.border-highlight{
 border: 1.5px solid lightcoral;
 transition: border 0.3s ease;
}

.h2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
}

.spinner_pos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


@keyframes flashHighlight {
  0%   { background-color: #add8e6; }
  50%  { background-color: transparent; }
  100% { background-color: #add8e6; }
}

.flash-new {
  animation: flashHighlight 1.5s ease-in-out 3;
}


@keyframes flashHighlightEdit {
  0%   { background-color: #fffdaf; }
  50%  { background-color: transparent; }
  100% { background-color: #fffdaf; }
}

.flash-edit {
  animation: flashHighlightEdit 1.5s ease-in-out 3;
}
