.border-highlight{
 border: 1.5px solid lightcoral;
  box-shadow: rgb(38, 57, 77) 0 20 30 -10;
 transition: border 0.3s ease;
}

.border-highlight-selected{
  border: 1.5px solid lightseagreen;
  transition: border 0.3s ease;
}

.card-body {
  transition: border-color 120ms ease, box-shadow 120ms ease;
  will-change: border-color;
}

.spinner_pos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  //align-items: center;

}

.spinner_center{
  display: flex;
  //flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 10rem;

}



@keyframes flashHighlight {
  0%   { background-color: #add8e6; }
  50%  { background-color: transparent; }
  100% { background-color: #add8e6; }
}

.flash-new {
  animation: flashHighlight 1.5s ease-in-out 3;
}


@keyframes flashHighlightEdit {
  0%   { background-color: #fffdaf; }
  50%  { background-color: transparent; }
  100% { background-color: #fffdaf; }
}

.flash-edit {
  animation: flashHighlightEdit 1.5s ease-in-out 3;
}
