<h2> Current Database Content</h2>

<div class="spinner_pos paginate_format">


  <ng-container *ngIf="viewModel$ | async as vm">
    <ng-container *ngIf="vm.loading; else showShips">
      <app-spinner></app-spinner>
    </ng-container>


    @let newlyAddedShipId = (newlyAddedShipId$ | async);
    @let newlyEditedShipId = (newlyEditedShipId$ | async);

    <ng-template #showShips>
      <ng-container *ngIf="vm.ships.length >0; else noShips">
        <div class="row row-deck row-cards row-height">
          <ng-container *ngFor="let a_Ship of vm.ships; let i = index; trackBy: utility.trackByShipDtoId">
            <div class="col-4">
              <div class="card"
                   [class.flash-new]="newlyAddedShipId === a_Ship.id"
                   [class.flash-edit]="newlyEditedShipId === a_Ship.id">
                <div class="card-body position-relative"
                     (mouseenter)="onMouseOver(i)"
                     (click)="onMouseClick(i)"
                     (mouseleave)="onMouseOff()"
                     [class.border-highlight]="hoverIndex === i && mouseAction"
                     [class.border-highlight-selected]="selectIndex === i && mouseAction">

                  <h2 class="card-title">{{ 'Name:   ' + a_Ship.name }}</h2>

                  <app-tooltip
                    [ship]="a_Ship"
                    [isSelected]="i === selectIndex"
                    (edit)="actionService.select('Edit', $event)"
                    (delete)="actionService.select('Delete', $event)">
                  </app-tooltip>


                </div>
              </div>
            </div>
          </ng-container>
        </div>

      </ng-container>
    </ng-template>
  </ng-container>
</div>


<ng-template #noShips>
  <h2>No ships available</h2>
</ng-template>

