     <h2> Current Database Content</h2>

     <div class="spinner_pos">


     <ng-container  *ngIf="viewModel$ | async as vm">
       <ng-container *ngIf="vm.loading; else showShips">
         <app-spinner></app-spinner>
     </ng-container>


      <ng-template #showShips>
        <ng-container *ngIf="vm.ships.length >0; else noShips">
          <div class="row row-deck row-cards" style="min-height: 10rem">
            <div class="col-4" *ngFor="let aShip of vm.ships; let i = index">
              <div class="card"
                   [ngClass]="{
                      'flash-new': (newlyAddedShipId$ | async) === aShip.id,
                      'flash-edit': (newlyEditedShipId$ | async) === aShip.id
                   }">
                <div class="card-body position-relative"
                     (mouseenter) = "onMouseOver(i)"
                     (mouseleave) = "onMouseOff()"
                     [ngClass]="{ 'border-highlight': hoverIndex === i}">

                  <h2 class="card-title">{{'Name:   ' + aShip.name}}</h2>

                <app-tooltip
                  [ship]="aShip"
                  [isHovered]="i === hoverIndex"
                  (edit)="actionService.select('Edit', $event)"
                  (delete)="actionService.select('Delete', $event)">
                </app-tooltip>


                </div>
              </div>
            </div>
          </div>


        </ng-container>
        </ng-template>

          <div class="pagination" *ngIf="vm.totalPages > 1">
            <button (click)="onPageChange(vm.page - 1)" [disabled]="vm.page === 1">Previous</button>
            <span>Page {{ vm.page }} / {{ vm.totalPages }}</span>
            <button (click)="onPageChange(vm.page + 1)" [disabled]="vm.page >= vm.totalPages">Next</button>
          </div>

     </ng-container>
     </div>


     <ng-template #noShips>
       <h2>No ships available</h2>
     </ng-template>

